@model UserRoleViewModel

<h2>Add user to role</h2>

<<<<<<< HEAD
<form asp-controller="Admin" asp-action="AddUserToRole">
=======
<form asp-controller="Admin"   asp-action="AddUserToRole">
>>>>>>> master
    <input type="hidden" name="roleId" value="@Model.RoleId" />
    <select asp-for="UserId"
            asp-items="@(new SelectList(Model.Users, "Id", "UserName"))">
        <option>Please select a user</option>
    </select>
    <input class="btn btn-primary" value="Add to role" type="submit" />
</form>

<a asp-action="RoleManagement" class="btn btn-primary">Done</a>
<<<<<<< HEAD
=======

>>>>>>> master
