<<<<<<< HEAD
﻿@model UserRoleViewModel

<h2>Add user to role</h2>

<form asp-controller="Admin"   asp-action="AddUserToRole">
    <input type="hidden" name="roleId" value="@Model.RoleId" />
    <select asp-for="UserId"
            asp-items="@(new SelectList(Model.Users, "Id", "UserName"))">
        <option>Please select a user</option>
    </select>
    <input class="btn btn-primary" value="Add to role" type="submit" />
</form>

<a asp-action="RoleManagement" class="btn btn-primary">Done</a>
=======
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
>>>>>>> 9a7f0286f292e435d88dc42f17125ae5a20042af
