@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <div class="main container">

        @*<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <a class="navbar-brand" href="#">AsmaraBethany</a>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        @await Component.InvokeAsync("CategoryMenu")
                        @await Component.InvokeAsync("ShoppingCartSummary")
                        <li><a asp-controller="Contact" asp-action="Index">Contact Us</a></li>

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                        {
                            @await Component.InvokeAsync("AdminMenu")
                        }
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>*@


        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#">AsmaraBethany</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item">
                        @await Component.InvokeAsync("CategoryMenu")
                    </li>
                    <li class="nav-item"> @await Component.InvokeAsync("ShoppingCartSummary")</li>
                    <li><a class="nav-link" asp-controller="Contact" asp-action="Index">Contact Us</a></li>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                    {
                        @await Component.InvokeAsync("AdminMenu")
                    }
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>







        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-responsive" alt="Bethany's Pie Shop'" src="~/Images/bethanylogo.png" />
                </p>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>

    </div>
    <div class="footer">
        <partial name="_footerPartial" />
    </div>
    <div>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
