@model homeViewModel

<partial name="_Carousel" />
<h2> Pies of the week</h2>
<h4> Our weekly selection just for you!</h4>

<div class="row">
    @foreach(var pie in Model.PiesOfTheWeek)
    {
        <partial name="_PieCard" model=pie />
    }

</div>