@model ShoppingCartViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li>
        <a>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @if (SignInManager.IsSignedIn(User))// && User.IsInRole("Administrator"))
                {
                    @Model.ShoppingCart.ShoppingCartItems.Count
                }

            </span>
        </a>
    </li>
}